
/* less space at the top */
.slide>div {
  padding-top: 60px;
  height: 580px;
}

.slide.shout h2 {
  width: 80%;
  left: 10%;
  font-size: 70px;
}
.slide.cover h2 {
  margin: 380px 0 0 -70px;
  color: #fff;
  font-size: 70px;
}
.slide.cover p {
  margin-left: -70px;
  color: #fff;
  font-style: italic;
  font-size: 20px;
}

@media print {
  #nav { display:none; }
  .pub-button { display:none; }
}
