
/* for less space at the top - padding-top and height should add up to 640 */

.slide>div {
  padding-top: 40px;
  height: 600px;
}

/* slightly larger font size */

.slide {
  font-size: 1.2em;
}

.slide pre code {
  width: 120%;
  font-size: 0.8em;
  line-height: 1.8;
  overflow: hidden;
}


/* adjust firstt level numbers and bullets to align left */
.slide div > ol, .slide div > ul {
  margin: 0 1em 50px;
}


/* shout slides are fragments which contain only a heading - no text
 - css below makes the text smaller than the default
*/

.slide.shout h2 {
  width: 80%;
  left: 10%;
  font-size: 70px;
}

/* if the first fragment in the markdown contains an image,
   it will be formatted as a cover slide. This positions the
   sets the font size for headings, and paragraph text.
*/

.slide.cover h1,
.slide.cover h2,
.slide.cover h3,
.slide.cover h4,
.slide.cover h5 {
  margin: 380px 0 0 -70px;
  color: #fff;
  font-size: 70px;
}

.slide.cover p {
  margin-left: -70px;
  color: #fff;
  font-style: italic;
  font-size: 20px;
}
